@model dynamic

@{
    ViewBag.Title = "PictureSave";
    Layout = "_Layout";
}

<h2>PictureSave</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="picture"/>
    <input type="submit" value="Foto Kaydet"/>
</form>